@{
    ViewBag.Title = "Index";
}
<div id='content'>
    <div>
        <h4>Accounting Cash Flow</h4>
    </div>
    @*<div>
        <img src="@Url.Action("ColumnChart")" alt="chart" />
        <img src="@Url.Action("PieChart")" alt="chart" />
        <img src="@Url.Action("BarChart")" alt="chart" />
    </div>

    <div>
        <img src="@Url.Action("LineChart")" alt="chart" />
    </div>
    <div>
        <img src="@Url.Action("Pyramid")" alt="chart" />
    </div>*@
</div>