
@{
    ViewBag.Title = "Index";
}
<div id='content'>
    <div>
        <h4>Monthly Transactions</h4>
    </div>
    <div>
        <img src="@Url.Action("ColumnChart")" alt="chart" />
        <img src="@Url.Action("PieChart")" alt="chart" />
        <img src="@Url.Action("BarChart")" alt="chart" />
    </div>

    <div>
        <img src="@Url.Action("LineChart")" alt="chart" />
    </div>
    <div>
        <img src="@Url.Action("Pyramid")" alt="chart" />
    </div>
 </div>
 
    @*<div>
                <h3>Doughnut Chart</h3>
            </div>
            <div>
                <img src="@Url.Action("DoughnutChart")" alt="chart" />
            </div>
            <div>
                <h3>BoxPlot Chart</h3>
            </div>
            <div>
                <img src="@Url.Action("BoxPlotChart")" alt="chart" />
            </div>
        <div>
            <h3>Pyramid Chart</h3>
        </div>
        <div>
            <img src="@Url.Action("Pyramid")" alt="chart" />
        </div>
        <div>
            <h3>Polar Chart</h3>
        </div>
        <div>
            <img src="@Url.Action("Polar")" alt="chart" />
        </div>s
        <div>
            <h3>Radar Chart</h3>
        </div>
        <div>
            <img src="@Url.Action("Radar")" alt="chart" />
        </div>
        <div>
            <h3>StackedBar Chart</h3>
        </div>
        <div>
            <img src="@Url.Action("StackedBar")" alt="chart" />
        </div>
        <div>
            <h3>RangeBar Chart</h3>
        </div>
        <div>
            <img src="@Url.Action("RangeBar")" alt="chart" />
        </div>
        <div>
            <h3>Funnel Chart</h3>
        </div>
        <div>
            <img src="@Url.Action("Funnel")" alt="chart" />
        </div>*@


